@use '../../styles/vars';

.input {


  &--text {
    width: 100%;
    border: 2px solid vars.$primary;
    padding:0.5rem;
  }

}
input[type="checkbox"] {
  visibility: hidden;
}

.checkbox .label{
  background-color: vars.$white;
  border: 1px solid vars.$green;
  font-size: 0.75rem;
  border-radius: 50px;
  padding: 0.5rem;
}

.checkbox input[type="checkbox"]:checked + .label{
  background-color: vars.$green;
  color: vars.$white;
}
  