.aside {
  &__filter {
    margin-block:1rem;

  }

  &__title--sub {
    text-transform: uppercase;
    font-weight: 700;

    margin-bottom: 0.5rem;
  }
}

.filters__list {
  max-width: 300px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
}

@media (max-width: 900px) {

  .filters__list {
    max-width:100%;
  }
}

.visually-hidden {
  display: none;
}