@use '../../styles/vars';

.button {
  display: flex;
  margin-block: 1rem;
  padding: 0.75em;
  background-color: vars.$accent;
  color: vars.$light;
  text-transform: uppercase;
  border: none;
  border-radius: 0.25rem;

  &:hover {
    background-color: vars.$primary;
  }
}