@use '../../styles/vars';

.aside {
  min-width: 350px;
  padding: 2vw;

  &__title {
    text-transform: uppercase;
    font-size: 0.75rem;
    margin-block: 1em;
  }

  label {
    display: block;
  }
}


@media (max-width: 900px) {
  .aside{
    min-width: 250px;
    width: auto;
    padding: 2vw;
  }
}