@use '../../../styles/vars';

.card {
  background-color: vars.$card-background-color;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);

  &__content {
    padding: 1rem;
    position: relative;
  }

  &__title {
    font-size: 1.25rem;
    height: 6rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  &__details {
    margin-bottom: 0.75rem;
  }

  &__region {
    text-transform: uppercase;
    padding: 1rem 1rem 0.25rem 1rem;
    font-weight: bold;
    font-size: 0.75rem;
    text-align: right;
    background-color: vars.$green;
    color: vars.$white;
  }

  &__location {
    background-color: vars.$green;
    color: vars.$white;
    padding: 0.5rem 1rem 1rem 1rem;
    font-weight: bold;
    font-size: 0.75rem;
    text-align: right;
  }



  &__actions {
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    text-align: right;
    max-height:10rem;
    overflow: hidden;
  }
}

// @media (min-width: 600px) {
//   .card{

//   }
// }