@charset "utf-8";

// SCOLOR
$purple: #8A4D76;
$green: #365d34;
$brown: #1d1e1c;
$beige-lighter: #f1efe9;
$white: #f8f8f8;

// GLOBAL
$family-sans-serif: "Nunito", sans-serif;
$primary: $green;
$text: $brown;

$link: $green;
$link-visited: $purple;
$link-hover: $purple;
$link-focus: $purple;

$button: $purple;
$button-hover: $green;

$light: $beige-lighter;
$dark: $brown;
$primary: $green;
$accent: $purple;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$footer-background-color: $brown;
$card-background-color: $white;

