@use './../../../styles/vars';

.header {

  &__title {

    &--main {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    &--sub {
      font-size: 1.25rem;
      margin-bottom: 1rem;
    }

  }

}
